body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.check-history {
  margin-bottom: 20px;
}
.check-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.status-blocks {
  display: flex;
  flex-wrap: nowrap;
}
.status-block {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}
.status-success {
  background-color: green;
}
.status-recovered {
  background-color: yellow;
}
.status-failed {
  background-color: red;
}
.history-tooltip {
  top: 80%;
  left: 50%;
  visibility: hidden;
  background-color: #fff;
  color: #000;
  text-align: left;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  z-index: 1;
  white-space: pre; /* Preserve newlines */
  word-wrap: break-word; /* Prevent text from overflowing */
}
.status-block:hover .history-tooltip {
  visibility: visible;
}